.title {
    color: lightgreen;
}

.span {
    display: block;
    color: lightgreen;
    margin: 19px;
}

.btn {
    margin: 5px;
    color: lightgreen;
    background-color: darkgreen;
    border-radius: 5px;
    border: none;
    transition: all 0.5s;
}

.btn:hover {
    color: #edff07;
    cursor: pointer;
    background-color: #ff7654;
    text-shadow: 2px 2px 2px darkgreen;
}