.radio {
    margin-right: 10px;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
}

.options label:last-child {
    margin-bottom: 0;
}