.buttonsContainer {
    margin-top: 10px;
    display: flex;
}

.buttonsContainer button:first-child {
    margin-right: 20px;
}

.buttonsContainer button:disabled {
    opacity: 0.4;
}

.clock {
}

.watch {
}

.watch strong {
}

.more {
}