.title {
    color: lightgreen;
}

.affairs {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 50%;
}

.affair {
    display: flex;
    justify-content: space-between;
}

.affairBlock {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.affair__priority {
    width: 25%;
}

.affair__name {
    width: 25%;
    color: lightgreen;
}

.affair__button {
    width: 15%;
    height: 20px;
    color: lightgreen;
    background-color: darkgreen;
    border: none;
    cursor: pointer;
}
.affairs__button {
    display: flex;
    justify-content: space-between;
}



.high {
    color: red;
}

.low {
    color: lightgreen;
}

.middle {
    color: dodgerblue;
}

.btn {
    position: relative;
    width: 20%;
    height: 20px;
    padding: 0;
    border: none;
    border-radius: 3px;
    color: lightgreen;
    background-color: darkgreen;
    cursor: pointer;
}

.btn:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(255,255,255,0.3);
    border-radius: 3px;
    transition: all 1s ease;
}

.btn:hover:before {
    width: 100%;
}



