.title {
    color: lightgreen;
}
.container {
    margin: 10px;
    max-width: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.button {
    position: relative;
    width: 55px;
    height: 20px;
    color: lightgreen;
    background-color: darkgreen;
    border: none;
    border-radius: 3px;
}

.button:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(255,255,255,0.3);
    border-radius: 3px;
    transition: all 1s ease;
}

.button:hover:before {
    width: 100%;
}

.button:disabled {
    background-color: gray;
}
.span {
    color: lightgreen;
}
.error {
    border: 1px solid red;
}

.error__title {
    color: red;
}

.input__container {
    display: flex;
    flex-direction: column;
}